@mixin active-hover($activeColor, $prefix: "") {
  &.#{$prefix}active {
    background: $activeColor;
  }

  &.#{$prefix}hover-active {
    background: $activeColor !important;
  }

  &.#{$prefix}hover-inactive {
    background: inherit !important;
  }
}

&.sheet.actor {
  &.character {
    min-width: 750px;
  }

  &.npc {
    min-width : 625px;
    min-height: 525px;
  }

  form {
    font-family: OPTILagoon, Arial-bold, arial, sans-serif;
    font-size  : 12px;

    text-transform: uppercase;

    * {
      text-transform: uppercase;
    }

    &.character {
      .sheet-header {
        flex: 0;

        .input-group {
          display       : flex;
          flex-direction: column;

          label,
          .label {
            flex: 1;

            font-size  : 14px;
            font-weight: bold;
          }

          &.name {
            flex-basis: 33%;
            margin    : 0 8px;

            input {
              font-size: 18px;
              height   : 32px;
              padding  : 2px 6px;
            }
          }

          &.experience {
            display       : flex;
            flex-direction: column;

            .pip-container {
              display       : flex;
              flex-direction: row;
              flex-wrap     : wrap;

              margin: 2px;

              .pip {
                flex-basis: 6.66%;

                padding: 2px;

                .image {
                  width     : 9px;
                  max-width : 9px;
                  height    : 9px;
                  max-height: 9px;

                  border       : 1px solid #505050;
                  border-radius: 9px;

                  @include active-hover(green, "earned-");
                  @include active-hover(#505050, "used-");
                }
              }
            }
          }
        }
      }
    }

    &.npc {
      .sheet-header {
        flex: 0;

        .name {
          font-size: 1.2rem;
          height   : 2.2rem;
        }
      }

      .main {
        flex-direction: column;

        padding    : 4px;
        padding-top: 0;

        .ranks {
          display        : flex;
          align-items    : center;
          justify-content: space-around;

          font-family   : OPTILagoon, Arial-bold, arial, sans-serif;
          text-transform: uppercase;
          font-size     : 10px;

          .rank-wrapper {
            display    : flex;
            align-items: center;

            input {
              width        : auto;
              margin-bottom: 2px;
            }
          }
        }

        >div:not(:first-child) {
          margin-top: 1rem;
        }

        textarea {
          resize: none;

          height: 6em;
        }
      }
    }

    .main {
      display       : flex;
      flex-direction: row;
      flex-wrap     : nowrap;
      flex          : 1;

      margin-top: 16px;

      input {
        width: 100%;

        background: none;
        border    : none;

        font-size : 24px;
        text-align: center;

        margin-bottom: 4px;

        &[type="number"] {
          -moz-appearance: textfield;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin            : 0;
        }
      }

      label,
      .label {
        font-weight   : bold;
        text-transform: uppercase;
      }

      .track {
        display       : flex;
        flex-direction: column;

        .block {
          display        : flex;
          align-items    : center;
          justify-content: center;

          height : 42px;
          padding: 4px 0;

          border: 2px solid #505050;

          font-size: 1.2em;

          &:not(:first-child) {
            border-top: none;
          }
        }
      }

      .track-header {
        background: #505050;
        color     : white;

        padding: 4px;

        font-size     : 12px;
        text-align    : center;
        text-transform: uppercase;
      }

      .lined-header {
        display: flex;

        margin: 8px 0;

        .line {
          flex: 1;

          margin    : 10px 4px;
          border-top: 1px solid black;
        }

        .text {
          flex-shrink   : 1;
          font-size     : 1.2em;
          font-weight   : bold;
          text-transform: uppercase;
        }
      }

      .stat {
        border    : 1px solid black;
        box-shadow: 2px 2px black;
      }

      .lhs {
        flex-basis: 10%;

        .momentum-track {
          .block {
            @include active-hover(#48ec48);
          }
        }

        .momentum-max,
        .momentum-reset {
          display        : flex;
          flex-direction : column;
          align-items    : center;
          justify-content: space-between;

          background: #cacaca;
          border    : 2px solid #505050;
          border-top: none;

          label {
            margin: 4px 0;
          }

          input {
            margin-top   : 4px;
            margin-bottom: 0;

            border: none;

            font-size: 1.6em;
          }
        }

        .momentum-reset {
          margin-bottom: 4px;
        }
      }

      .center {
        display       : flex;
        flex-direction: column;

        flex      : 1;
        flex-basis: 80%;

        margin: 0 12px;

        section:not(:first-child) {
          margin-top: 18px;
        }

        .stats {
          display       : flex;
          flex-direction: row;

          .stat {
            display       : flex;
            flex-direction: column;
            align-items   : center;

            flex-basis: 20%;

            margin: 2px;

            .label {
              &:hover {
                cursor: pointer;
                color : #666666;
              }
            }
          }
        }

        .sheet-tabs {
          /* Override Default Styles */
          height: auto;
          flex: none;
          margin: 0;
          line-height: normal;
          border: none;
          /* Override Default Styles */

          ul {
            display        : flex;
            justify-content: space-around;

            list-style: none;
            padding   : 0;

            margin-top: 1em;
            padding   : 4px 0;

            background: rgba(0, 0, 0, 0.6);
            color     : white;

            .active {
              text-decoration: underline;
            }
          }
        }

        .tab-body {
          display       : flex;
          flex-direction: column;

          flex: 1;

          .tab.active {
            flex: 1;

            &.inventory {
              display       : flex;
              flex-direction: column;

              .equipment-list {
                display  : flex;
                flex-wrap: wrap;

                flex: 1;

                .gear {
                  flex-basis: 33%;

                  word-spacing: 2px;

                  font-family: Signika, sans-serif;
                  font-size  : 1rem;

                  * {
                    text-transform: none;
                  }

                  // We only want wrapped items to have a margin,
                  // so don't apply this rule to the first three items.
                  &:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
                    margin-top: 12px;
                  }
                }
              }
            }

            &.bio {
              display       : flex;
              flex-direction: column;

              section.bio {
                display       : flex;
                flex-direction: column;

                flex: 1;

                .editor {
                  flex: 1;

                  * {
                    text-transform: none;
                  }

                  .preview,
                  .side-by-side,
                  .fullscreen,
                  .guide,
                  .separator:nth-of-type(4),
                  .separator:nth-of-type(5) {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .vows {
          .lined-header {
            .text {
              &:hover {
                cursor: pointer;
                color : #666666;
              }
            }
          }

          .vow-list {
            list-style: none;

            padding-left : 4px;
            margin-bottom: 0;

            .vow-item {
              font-family: Signika, sans-serif;
              font-size  : 1rem;

              * {
                text-transform: none;
              }

              &:not(:last-child) {
                margin-bottom: 4px;
              }

              >span:hover {
                cursor: pointer;
                color : #666666;
              }
            }
          }
        }

        .assets {
          .lined-header {
            .text {
              &:hover {
                cursor: pointer;
                color : #666666;
              }
            }
          }

          .asset-list {
            list-style: none;

            padding-left : 4px;
            margin-bottom: 0;

            .asset-item {
              font-family: Signika, sans-serif;
              font-size  : 1rem;

              * {
                text-transform: none;
              }

              &:not(:last-child) {
                margin-bottom: 4px;
              }

              >span:hover {
                cursor: pointer;
                color : #666666;
              }
            }
          }
        }

        .bonds {
          .progress {
            .pip {
              &.occupied {
                background: #9c9c9c;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }

        .debilities {
          .content {
            display: flex;

            strong {
              display      : block;
              font-size    : 1.1em;
              margin-bottom: 4px;
            }

            .wrapper {
              display  : flex;
              flex-wrap: wrap;

              .item {
                flex-basis: 50%;

                display    : flex;
                align-items: center;

                font-family: Signika, sans-serif;
                font-size  : 1rem;

                * {
                  text-transform: none;
                }

                label {
                  font-weight: normal;
                }
              }

              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }

            .left {
              flex-basis   : 50%;
              padding-right: 16px;
            }

            .right {
              flex-basis  : 50%;
              padding-left: 16px;
            }
          }
        }
      }

      .rhs {
        flex-basis: 10%;

        .track:not(:last-child) {
          margin-bottom: 9px;
        }

        .health-track {
          .block {
            @include active-hover(#ec5151);
          }
        }

        .spirit-track {
          .block {
            @include active-hover(#1cdad1);
          }
        }

        .supply-track {
          .block {
            @include active-hover(#dad71c);
          }
        }
      }
    }
  }

  .hover-card {
    position: absolute;
    top     : 0;
    left    : 0;

    display       : flex;
    flex-direction: column;

    width : 200px;
    height: 100px;

    background: url('assets/ui/parchment.jpg');

    padding      : 6px;
    border       : 1px solid #111111;
    border-radius: 2px;

    .name {
      flex: 0;

      font-family: OPTILagoon, Arial-bold, arial, sans-serif;
      font-size  : 11px;
      font-weight: bold;

      text-transform: uppercase;
    }

    .desc {
      flex: 1;

      overflow     : hidden;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
    }

    ul {
      list-style: none;

      margin      : 0.25em 0;
      padding     : 0;
      padding-left: 6px;

      li {
        background  : url("assets/ui/chevron-right.png") no-repeat left 2px;
        padding-left: 14px;
      }
    }

    hr {
      flex : 0;
      width: 100%;
    }
  }

  .bond-card {
    width : 300px;
    height: 150px;

    overflow: hidden;

    .desc {
      overflow: auto;
    }
  }

  .vow-card {
    width : 300px;
    height: 175px;

    overflow: hidden;

    .rank {
      font-family: OPTILagoon, Arial-bold, arial, sans-serif;
      font-size  : 10px;

      text-transform: uppercase;
    }

    .progress-text {
      font-family: OPTILagoon, Arial-bold, arial, sans-serif;
      font-size  : 10px;

      text-transform: uppercase;
    }

    .desc {
      overflow: auto;
    }
  }

  .asset-card {
    width : 300px;
    height: 225px;

    padding: 0;

    .card-header {
      display: flex;

      width  : 100%;
      margin : 0;
      padding: 2px;

      background: #505050;
      color     : white;

      font-family   : OPTILagoon, Arial-bold, arial, sans-serif;
      font-size     : 12px;
      word-spacing  : 3px;
      text-transform: uppercase;

      .type {
        flex: 1;
      }

      .acquired,
      .not-acquired {
        flex: 0;

        align-self: center;

        min-width : 10px;
        min-height: 10px;
        max-width : 10px;
        max-height: 10px;

        border       : 1px solid black;
        border-radius: 7px;

        margin-right: 2px;
      }

      .acquired {
        background: black;
      }
    }

    .card-body {
      display       : flex;
      flex-direction: column;

      padding: 6px;

      overflow: hidden;

      .limit {
        margin-bottom: 2px;

        font-size: 0.8rem;
      }

      .ability {
        flex: 1;

        overflow: auto;
      }
    }

    .page-count {
      position: absolute;
      bottom  : 2px;
      right   : 2px;

      padding: 2px 4px;

      font-size : 0.6rem;
      text-align: right;

      background: rgba(0, 0, 0, 0.6);
      color     : white;
    }
  }

  .gear-card {
    width : 250px;
    height: 125px;

    .card-header {
      display: flex;

      .name {
        flex: 1;
      }

      .quantity {
        flex: 0;
      }
    }

    .card-body {
      display       : flex;
      flex-direction: column;

      overflow: hidden;

      .description {
        flex: 1;

        overflow: auto;
      }
    }
  }
}